<div class="background-about-me fixed-height">
  {{#if isAuthenticated}}
    <div class="flex-row right">
      <button type="button" class="ui button" {{action "showModal"}}>
        Edit
      </button>
    </div>
  {{/if}}
  <div class="ui cards flex-center">
    {{#if model}}
      {{about-me
        model=model
      }}
      {{contact-me
        model=model
      }}
    {{/if}}
  </div>

  {{#if isAuthenticated}}
    {{#modal-window
      button-caption="Save"
      hasActions=true
      id="profile-editor"
      title="Profile Editor"
      okAction="save"
    }}
      {{text-input
        label="Full Name"
        placeholder="Name"
        value=model.name
      }}

      {{text-input
        label="Title"
        placeholder="Title"
        value=model.title
      }}

      {{text-input
        label="Email"
        placeholder="Email"
        value=model.email
      }}

      {{text-input
        label="LinkedIn Profile URL"
        placeholder=""
        value=model.linkedin
      }}

      {{text-input
        label="Location"
        placeholder="Location"
        value=model.location
      }}

      {{datetime-picker
        format="MM/DD/YYYY"
        id="birth-date"
        label="Birth Date"
        value=(moment-format model.birthDate "MM/DD/YYYY")
      }}

      {{filestack-upload
        label="Upload Profile Picture"
        options=profilePickOptions

        upload="uploadProfilePic"
      }}

      {{filestack-upload
        label="Upload Resume"
        options=resumePickOptions

        upload="uploadResume"
      }}
    {{/modal-window}}
  {{/if}}
</div>
{{outlet}}
