<section class="about-me">
  {{#if model.profilePicture}}
    <figure class="profile-picture-container">
      <img src="{{model.profilePicture.url}}" alt="{{model.profilePicture.fileName}}" />
    </figure>
  {{/if}}

  <article class="info">
    <h2 class="bold text-container title">Who Am I?</h2>
    <div class="details text-container">
      <dl>
        <dt>Name:</dt>
        <dd>{{model.name}}</dd>
        <dt>Age:</dt>
        <dd>{{model.age}}</dd>
        <dt>From:</dt>
        <dd>{{model.location}}</dd>
      </dl>
    </div>
    <div class="bio text-container">
      {{model.description}}
    </div>
  </article>
</section>
