<figure class="profile-picture-container">
  <img src={{model.profilePicture.url}} alt={{model.profilePicture.fileName}} />
</figure>

<div class="info">
  <h2 class="bold text-container">Who Am I?</h2>
  <div class="text-container">
    <dl>
      <dt>Name:</dt>
      <dd>{{model.fullName}}</dd>
      <dt>Age:</dt>
      <dd>{{model.age}}</dd>
      <dt>From:</dt>
      <dd>{{model.location}}</dd>
    </dl>
  </div>
  <div class="text-container">
    {{model.description}}
  </div>
</div>
