<article class="ui card">
  <div class="content">
    <h2 class="header">Who Am I?</h2>
  </div>
  <figure class="image">
    <img src="{{if model.profilePicture model.profilePicture.url}}" alt="{{model.profilePicture.fileName}}" />
  </figure>

  <div class="content">
    <h3 class="header">{{model.name}}</h3>
    <div class="meta">
      <span class="date">{{model.location}}</span>
    </div>
    <div class="description">
      {{model.description}}
    </div>
  </div>
</article>
