<article class="work-experience">
  <div class="col-xs-12">
    <div class="bold title">
      {{#if model.url}}
        <a href={{model.url}} target="_blank">{{model.company}}</a>
      {{else}}
        {{model.company}}
      {{/if}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div class="sub-title">
        {{moment-format model.started "MMMM YYYY"}} to
        {{#if model.ended}}
          {{moment-format model.ended "MMMM YYYY"}}
        {{else}}
          Present
        {{/if}}
      </div>
      {{#if isAuthenticated}}
        <div class="center">
          <button {{action "select"}} class="btn">Edit</button>
        </div>
      {{/if}}
    </div>
    <div class="col-xs-8">
      <div>
        {{{model.description}}}
      </div>
      {{#if model.projects}}
        <div>
          <h3>Projects at this Company</h3>
          <ul>
            {{#each model.projects as |project|}}
              <li>{{project.name}}</li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
    </div>
  </div>
</article>
