<article class="ui card">
  <div class="content">
    <h2 class="header">
      {{#if model.url}}
        <a href={{model.url}} target="_blank">{{model.company}}</a>
      {{else}}
        {{model.company}}
      {{/if}}
      {{#if isAuthenticated}}
        <button {{action "select"}} class="ui button">Edit</button>
      {{/if}}
    </h2>
    <div class="meta">
      <span class="date">
        {{moment-format model.started "MMMM YYYY"}} to
        {{#if model.ended}}
          {{moment-format model.ended "MMMM YYYY"}}
        {{else}}
          Present
        {{/if}}
      </span>
    </div>
    <div class="description">
      {{{model.description}}}
      {{#if model.projects}}
        <div>
          <h3>Projects at this Company</h3>
          <ul>
            {{#each model.projects as |project|}}
              <li>{{project.name}}</li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
    </div>
  </div>
</article>
