{{!-- <div id={{carousel-id}} class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {{#each model as |image index|}}
      <li data-target={{target}} data-slide-to={{index}} class="{{if (equal-to index 0) 'active' ''}}"></li>
    {{/each}}
  </ol>
  <div class="carousel-inner" role="listbox">
    {{#each model as |image index|}}
      <figure class="item {{if (equal-to index 0) 'active' ''}}">
        <img src={{image.url}} alt={{image.fileName}}>
        <div class="carousel-caption">
          <h3>{{image.fileName}}</h3>
          <p>{{image.description}}</p>
        </div>
      </figure>
    {{/each}}
  </div>
  <a class="left carousel-control" href={{target}} role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href={{target}} role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> --}}
<div class="fotorama">
  {{#each model as |image|}}
    <img src={{image.url}} alt={{image.fileName}}>
  {{/each}}
</div>
