<div class="background-work-experience fixed-height">
  <div class="ui cards flex-center">
    {{#each sortedWork as |experience|}}
      {{work-experience
        isAuthenticated=isAuthenticated
        model=experience
        select="select"
      }}
    {{/each}}
  </div>

  {{#if isAuthenticated}}
    {{#modal-window
      button-caption="Save"
      hasActions=true
      id="experience-editor"
      title="Work Experience Editor"
      okAction="save"
    }}
      {{text-input
        label="Company Name"
        value=selected.company
      }}

      {{text-input
        label="Position"
        value=selected.position
      }}

      {{text-input
        label="Company URL"
        value=selected.url
      }}

      {{datetime-picker
        format="MM/YYYY"
        label="Date Started"
        value=selected.started
      }}

      {{datetime-picker
        format="MM/YYYY"
        label="Date Ended"
        value=selected.ended
      }}

      {{wysiwyg-editor
        content=selected.description
      }}
    {{/modal-window}}
  {{/if}}
</div>
