<div class="background-skill fixed-height">
  {{skill-chart
    chart-id="skills"
    model=sortedSkills
  }}

  {{#if isAuthenticated}}
    {{#modal-window
      id="education-editor"
      title="Education Editor"
    }}
      <div class="flex-center flex-display flex-row">
        <div class="flex-display flex-spacer">
          {{text-input
            label="Skill Name"
            value=selected.name
          }}
        </div>
        <div class="flex-display flex-spacer">
          {{text-input
            label="Years"
            value=selected.years
          }}
        </div>
        <button {{action "save"}} type="button" class="btn btn-primary flex-display">
          Save
        </button>
      </div>
      <table class="base-table table table-hover">
        <thead>
          <tr>
            <th>Skill</th>
            <th>Years</th>
            <th class="center">Remove</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedSkills as |skill|}}
            <tr class="clickable">
              <td {{action "select" skill}}>
                {{skill.name}}
              </td>
              <td {{action "select" skill}}>
                {{skill.years}}
              </td>
              <td class="center">
                <div {{action "remove" skill}} class="glyphicon glyphicon-remove"></div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/modal-window}}
  {{/if}}
</div>
