<div class="background-education fixed-height">
  {{#if isAuthenticated}}
    <div class="bottom-spacer flex-row right">
      <button id="modal-toggle" type="button" class="btn" data-toggle="modal" data-target="#education-editor">
        Edit
      </button>
    </div>
  {{/if}}

  {{#each model.educations as |education|}}
    {{education-item
      isAuthenticated=isAuthenticated
      model=education
      select="select"
    }}
  {{/each}}

  {{#if isAuthenticated}}
    {{#modal-window
      close-on-action=true
      flex-modal=true
      footer-button-caption="Save"
      footer-button-type="submit"
      modal-id="education-editor"
      modal-title="Education Editor"
      show-footer=true
      cancelAction="cancel"
      formAction="save"
    }}
      {{text-input
        label="School Name"
        value=selected.schoolName
      }}

      {{datetime-picker
        format="MM/YYYY"
        label="Date Started"
        value=selected.started
      }}

      {{datetime-picker
        format="MM/YYYY"
        label="Date Graduated"
        value=selected.graduated
      }}

      {{wysiwyg-editor
        content=selected.description
        label="Description"
      }}
    {{/modal-window}}
  {{/if}}
</div>
