<div class="background-education fixed-height">
  <div class="ui cards flex-center">
    {{#each model as |education|}}
      {{education-item
        isAuthenticated=isAuthenticated
        model=education
        select="select"
      }}
    {{/each}}
  </div>

  {{#if isAuthenticated}}
    {{#modal-window
      button-caption="Save"
      hasActions=true
      id="education-editor"
      title="Education Editor"
      okAction="save"
    }}
      {{text-input
        label="School Name"
        value=selected.schoolName
      }}

      {{datetime-picker
        format="MM/YYYY"
        label="Date Started"
        value=selected.started
      }}

      {{datetime-picker
        format="MM/YYYY"
        label="Date Graduated"
        value=selected.graduated
      }}

      {{wysiwyg-editor
        content=selected.description
        label="Description"
      }}
    {{/modal-window}}
  {{/if}}
</div>
