<header {{action "alterTitle"}} class="title-background {{if fullTitle 'clickable content-section title-card' 'container small-title'}}">
  <header class="name"><h1>{{model.name}}</h1></header>
  <footer class="title">{{model.title}}</footer>
</header>

{{yield}}
