<main>
  {{#title-card
    fullTitle=fullTitle
    model=model
    alterTitle="alterTitle"
  }}
    {{#if fullTitle}}
    {{else}}
      <section class="container">
        {{nav-bar
          isAuthenticated=isAuthenticated
          login="login"
          logout="logout"
        }}
        <div class="fixed-height" style={{make-safe style}}>
          {{outlet}}
        </div>
        {{page-footer}}
      </section>
    {{/if}}
  {{/title-card}}
</main>
