<main>
  {{#title-card
    fullTitle=fullTitle
    model=model
    alterTitle="alterTitle"
  }}
    {{#if fullTitle}}
    {{else}}
      <section class="container" style={{make-safe style}}>
        {{nav-bar}}
        <div class="fixed-height">
          {{outlet}}
        </div>
        {{page-footer login="login"}}
      </section>
    {{/if}}
  {{/title-card}}
</main>
