<div class="background-project fixed-height">
  <section class="ui cards flex-center">
    {{#each sortedProjects as |project|}}
      {{project-item
        isAuthenticated=isAuthenticated
        model=project
        select="select"
        selectImages="selectImages"
      }}
    {{/each}}
  </section>

  {{#if isAuthenticated}}
    {{#modal-window
      button-caption="Save"
      hasActions=true
      id="project-editor"
      title="Project Editor"
      okAction="save"
    }}
      <section class="flex-display flex-row">
        <div class="flex-column flex-display flex-spacer side-padding">
          {{text-input
            label="Project Name"
            value=selected.name
          }}
        </div>
        <div class="flex-column flex-display flex-spacer side-padding">
          {{text-input
            label="Project URL"
            value=selected.url
          }}
        </div>
      </section>

      <section class="flex-display flex-row">
        <div class="flex-column flex-display flex-spacer side-padding">
          {{datetime-picker
            format="MM/YYYY"
            label="Started"
            value=selected.started
          }}
        </div>
        <div class="flex-column flex-display flex-spacer side-padding">
          {{datetime-picker
            format="MM/YYYY"
            label="Ended"
            value=selected.ended
          }}
        </div>
      </section>

      {{filestack-upload
        label="Upload Screenshots"
        options=pickOptions

        upload="imageUpload"
      }}

      {{wysiwyg-editor
        label="Description"
        content=selected.description
      }}
    {{/modal-window}}
  {{/if}}

  {{#modal-window
    closable=true
    id="image-modal"
    title=modal-title
    modalClosed="modalClosed"
  }}
    {{#if images}}
      {{image-carousel
        carousel-id="image-carousel"
        model=images
      }}
    {{/if}}
  {{/modal-window}}
</div>
